<div class="">
    <img
        class="w-20 h-15 rounded-full hidden sm:block"
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.pngarts.com%2Ffiles%2F5%2FUser-Avatar-PNG-Transparent-Image.png&f=1&nofb=1&ipt=c3d5753a69a26d695180785951737e5d85bb4c9b6d7b9b3b09460a92e743da6a"
        alt=""
    />
</div>
