---
import Avatar from "./Avatar.astro";
---

<header class="flex justify-between items-center">
    <Avatar />
    <nav class="space-x-10 flex justify-between transition-colors">
        <a href="#top" class="cursor-pointer hover:text-orange-500">Home</a>
        <a href="#about" class="cursor-pointer hover:text-orange-500">About</a>
        <a href="#experiences" class="cursor-pointer hover:text-orange-500">Experiences</a>
        <a href="#contact-to-me" class="cursor-pointer hover:text-orange-500">Contact to me</a>
    </nav>
</header>
