---
import Avatar from "./Avatar.astro";
---

<header class="flex justify-start md:justify-between items-end px-5">
    <Avatar />
    <nav class="space-x-5 sm:space-x-10 flex justify-between transition-colors">
        <a href="#about" class="cursor-pointer hover:text-orange-500">Sobre mi</a>
        <a href="#experiences" class="cursor-pointer hover:text-orange-500">Experiencia</a>
        <a href="#contact-to-me" class="cursor-pointer hover:text-orange-500">Contactame</a>
    </nav>
</header>
