---
import Header from "../components/Header.astro";
import "@fontsource/space-mono";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/cat.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Portafolio web</title>
    </head>
    <body class="bg-black/95 min-w-screen min-h-screen px-5 md:px-30 pt-10 text-white/80 overflow-x-hidden">
        <Header />
        <slot />
    </body>
</html>
<style is:global>
    html {
        scroll-behavior: smooth;
    }
    body {
        font-family: "Space Mono", monospace;
    }
</style>
